@charset "UTF-8";

#wrap {
	width:1200px;
	margin:0 auto;
}

header {
	height:80px;
	background-color: #36DF7A;
}

.contents > .input-box {
	width:600px;
}

footer {
	height:70px;
	background-color: #36DF7A;
}